<!DOCTYPE html>
{%extends 'basic_app/base.html'%}
{%load staticfiles%}

{%block body_block%}
  <h1>This is the registration page</h1>
  <h4>We will take in new users</h4>

  {%if register%}
    <h1>Thank you for registering!</h1>
  {%else%}
    <h1>Register Here!</h1>
    <h4>Fill out the form:</h4>

    <form enctype="multipart/form-data" method="post">
      {%csrf_token%}
      {{user_form.as_p}}
      {{profile_form.as_p}}
      <input type="submit" name="" value="Register">
    </form>

  {%endif%}

{%endblock%}
